html,body{height: 100%; background: #f3f3f3; font-family: '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\5B8B\4F53';}
input{font-family: '\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\5B8B\4F53'; -webkit-appearance: none;}
input,select,textarea{padding: 0;font: inherit;outline: none;border: 0;border-radius: 0;-webkit-tap-highlight-color: transparent;appearance: none;-webkit-appearance: none;background: transparent;line-height: normal;box-sizing: border-box;-webkit-writing-mode: horizontal-tb;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance: none !important; margin: 0;}
.flex{display: -webkit-box;}
.flexv{display: -webkit-box; -webkit-box-orient: vertical;}  /*垂直排列*/
.flexitem{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.flexitemv{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; -webkit-box-orient: vertical;}
.centerv{-webkit-box-align: center;}  /*垂直居中*/
.centerh{-webkit-box-pack: center;}  /*水平居中*/
.center{-webkit-box-align: center; -webkit-box-pack: center;}
.endh{-webkit-box-pack: end;}  /*水平向右*/
.endv{-webkit-box-align: end;} /*垂直向下*/
.end{-webkit-box-align: end; -webkit-box-pack: end;}
.between{display:flex;justify-content:space-between;} /*两端对齐*/
.around{display:flex;justify-content:space-around;}  /*等间距*/
.fwrap{display: flex;flex-wrap:wrap;} /*换行*/
/*************************** 动画 *****************************/
@-webkit-keyframes zoomIn {0% {opacity: 0;-webkit-transform: scale3d(.3,.3,.3);transform: scale3d(.3,.3,.3)}50% {opacity: 1}}
@keyframes zoomIn { 0% {opacity: 0; -webkit-transform: scale3d(.3,.3,.3); transform: scale3d(.3,.3,.3)} 50%{opacity:1}}
#alert .qrbox{margin:10px auto;width:160px;height:160px;background:#eee;}
#alert .qrbox img{max-width:100%; max-height:100%;}
/**************************** 共同 ****************************/
.wrap{height:100%;}
.fitimg{width: 100%;height:100%;}
.mainbox{position: relative;overflow-x: hidden;overflow-y: auto;-webkit-overflow-scrolling: touch;}
.userimg{width:6rem;height:6rem;border-radius:50%;overflow:hidden;border:0.2rem solid rgba(225,225,225,.6);box-shadow: 0 0 0 0.2rem rgba(225,225,225,.3);}
.bj{position:absolute;top:0;left:0;width:100%; height:12rem;}
/**************************** 首页 ****************************/
#home.wrap{background: url("../image/hone.png")no-repeat;background-size:cover;color:#fff;}
#home .head{padding:2rem 0;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#home .head h1{font-size:1.8rem; font-weight:normal;padding:1rem 0;}
#home .head h2{font-size:1.4rem; font-weight:normal;}
#home .box{margin:3.5rem 2rem 1rem; padding:1rem 1.5rem; background:-webkit-linear-gradient(left, #45115c, #5a136f); box-shadow:0 0 6px 0 rgba(0,0,0,0.15); position:relative;border-radius:2px;}
#home .box .name{font-size:1.7rem;padding: 0.5rem 0;}
#home .box .prode{padding:0.5rem 0;}
#home .box .prode>div{padding-right:2rem;font-size:1.3rem;}
#home .box .prode>div i{padding-right: 0.3rem;font-size:1.6rem;}
#home .box .prode>div.vip{color:#fdfc02;}
#home .box .zan{width:20%;height:1.6rem;padding:0.5rem;background: rgba(58,14,77,.9);color:#fff;border-radius:5rem;font-size:1.2rem;}
#home .box .zan i{font-size: 1.2rem;color:#ef85ff;padding-right:0.5rem;}
#home .box .userimg{position:absolute;top:-3rem;right:2rem;}
#home .around{margin:0 2rem; padding: 0.5rem 0;background:rgba(0,0,0,.1);border-radius:2px;}
#home .around a{width:2.4rem;height:2.4rem;border-radius:50%; border:1px solid #fff;color:#fff;font-size: 1.4rem;}
#home .menu{padding:1rem 0;}
#home .menu ul{width:100%;}
#home .menu li{width:25%;padding:1rem 0;}
#home .menu li a{color:#fff;}
#home .menu li a span{width:3.5rem;height:3.5rem;border-radius:2rem;background:url("../image/menu_bj.png")no-repeat;background-size:28rem;}
#home .menu li a em{height:3rem;font-size:1.2rem;}
#home .tabbars{height:4.5rem;border-top:1px solid #fff; }
#home .tabbars .item{width:10rem;color:#fff;}
#home .tabbars .item i{font-size:1.6rem;}
#home .tabbars .item em{height:2rem;font-size:1.2rem;}
#home .tabbars .middle{position:relative;}
#home .tabbars .middle a{position: relative;color:#fff;z-index: 2;margin-top:-1.2rem;}
#home .tabbars .middle i{position: relative;width:3rem;height:3rem;border-radius:50%;font-size:2rem;background:#c63a81;}
#home .tabbars .middle em{height:2rem;font-size:1.2rem;}
#home .tabbars .middle .shadow{width:4rem;height:1.55rem; position:absolute;top:-1.5rem;left:50%;margin-left:-2.1rem;overflow:hidden;}
#home .tabbars .middle .shadow:after{content:'';position:absolute;top:0;left:0;width:3.9rem;height:4rem;background:#2d1b4f;border:1px solid #fff;border-radius:50%;}
/**************************** 商城 ****************************/
#shop .head{background:#fff;box-shadow: 0 -3px 4px 2px rgba(0,0,0,0.2);}
#shop .head .bj{background: url("../image/shop.png")no-repeat;background-size:100%;}
#shop .search{padding:2.5rem 0;position:relative;}
#shop .search .item{width:2.4rem;height:2.4rem;border-radius:50%;border:1px solid #fff;color:#fff;margin:0 1rem;font-size:1.4rem;}
#shop .search .go{padding:0 1rem;font-size:1.2rem;background:rgba(0,0,0,.2);border-radius:3rem;color:#998e96;}
#shop .search .go i{font-size:1.2rem;}
#shop .search .go span{padding:0 1rem;}
#shop .box{position:relative;}
#shop .box .name{height:2rem; font-size: 1.4rem;color:#404040;}
#shop .box .pride{padding:0.5rem 0;}
#shop .box .pride a{color:#525252;font-size:1.2rem;padding:0 0.6rem}
#shop .box .pride i{width:1.6rem;height:1.6rem;border:1px solid #525252;border-radius:50%;font-size:1.1rem;margin:0 0.5rem;}
#shop .nav{padding:0.5rem 0;}
#shop .nav a{width:10rem;height:4rem;background:#Fff;font-size:1.4rem;box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);}
#shop .nav a.current{color:#c63a83;}
#shop .nav a i{font-size:2rem;}
#shop .nav a span{padding:0 0.2rem;font-size:1.4rem;}
#shop .listbox{color:#333;}
#shop .listbox .lists{position:relative;width:50%;}
#shop .listbox .lists .cover{position:relative;padding-top:100%;}
#shop .listbox .lists .cover div{position:absolute;top:3px;left:3px;right:3px;bottom:3px;background:#fff;border-radius:4px 4px 0 0;overflow:hidden;}
#shop .listbox .lists .info{background:#fff;border-radius:0 0 4px 4px;margin:-8px 3px 3px;}
#shop .listbox .lists h3{font-weight:normal;margin:4px 6px;height:2rem;overflow:hidden;font-size:1.2rem;-webkit-line-clamp:1;}
#shop .listbox .lists em{font-size:1.4rem;color:#c63a83;text-indent:1.5rem;padding:0.5rem 0;}
#shop .listbox .lists a.link{position:absolute;top:3px;left:3px;right:3px;bottom:3px;border-radius:4px;}
#shop .tabs{height:4.5rem;background:#fff;}
#shop .tabs a{color:#575757;}
#shop .tabs a i{font-size:2rem;}
#shop .tabs a em{height:1.5rem;}
/**************************** 公司介绍 ****************************/
#referral .head{background:#fff;box-shadow: 0 -3px 4px 2px rgba(0,0,0,0.2);}
#referral .head .bj{background: url("../image/referral.png")no-repeat;background-size:100%;}
#referral .box{position:relative;}
#referral .box h1{font-size:1.8rem; font-weight:normal;padding:3rem 0;color:#fff;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#referral .box .name{height:2rem; font-size: 1.4rem;color:#404040;}
#referral .box .vip{color:#525252;font-size:1.3rem;padding:0.5rem 0.6rem;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#referral .box i{font-size:1.5rem;margin:0 0.5rem;}
#referral .box .nav{width:100%;padding-bottom:0.5rem;}
#referral .box .nav i{width:3rem;height:3rem;border-radius:50%;color:#fff;font-size:2rem;}
#referral .box .nav em{height:2rem;font-size:1.2rem;}
#referral .tab{padding:0.5rem 0;}
#referral .tab a{width:10rem;height:4rem;background:#Fff;font-size:1.4rem;box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);}
#referral .tab a i{font-size:2rem;}
#referral .tab a span{padding:0 0.2rem;font-size:1.4rem;}
#referral .tab a.current{color:#c63a83;}
#referral .body{padding:1rem;background:#fff;box-shadow: 0 2px 4px 2px rgba(0,0,0,0.2);}
#referral .body .tabbox{color:#575757;font-size:1.3rem;line-height:2.4rem;display:none;}
#referral .body .tabbox p{padding-top:0.6rem;}
#referral .body .tabbox.show{display:block;}
/**************************** 微名片 ****************************/
#card .head{background:#fff;box-shadow: 0 -3px 4px 2px rgba(0,0,0,0.2);}
#card .head .bj{background: url("../image/card.png")no-repeat;background-size:100%;}
#card .box{position:relative;}
#card .box h1{font-size:1.8rem; font-weight:normal;padding:3rem 0;color:#fff;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#card .box .name{height:2rem; font-size: 1.4rem;color:#404040;}
#card .box .vip{font-size:1.3rem;padding:0.5rem 0.6rem;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#card .box i{font-size:1.5rem;margin:0 0.5rem;}
#card .box .nav{width:100%;padding-bottom:0.5rem;}
#card .box .nav i{width:3rem;height:3rem;border-radius:50%;color:#fff;font-size:2rem;}
#card .box .nav em{height:2rem;font-size:1.2rem;}
#card .body{margin-top:0.5rem;background:#fff;box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);}
#card .body .contact a{padding:1rem 2.5rem;}
#card .body .contact a i{width:3rem;height:3rem;border-radius:50%;background:#c23b7e;color:#fff;font-size:1.8rem;margin-right: 2rem}
#card .body .contact a em{font-size:1.4rem;}
#card .body .contact .solid{height:1px;content:'';background:#f4f4f4;position:relative;}
#card .body .contact .solid:before{width:1.5rem;height:1.5rem;content:'';border-radius:50%;background:#f4f4f4;position:absolute;top:-0.8rem;left:-0.5rem;box-shadow: 0 0 2px 0 rgba(0,0,0,0.2) inset;}
#card .body .contact .solid:after{width:1.5rem;height:1.5rem;content:'';border-radius:50%;background:#f4f4f4;position:absolute;top:-0.8rem;right:-0.5rem;box-shadow: 0 0 2px 0 rgba(0,0,0,0.2) inset;}
#card .body .qrcode{background:#fff;}
#card .body .qrcode .img{position:relative;width:10rem;height:10rem;margin:2.5rem auto;box-shadow:0 0 0 0.6rem #f3d8e6;}
#card .body .qrcode span{background:#979193;}
#card .body .qrcode span.top{width:100%;height:2px;position:absolute;top:0;left:0;}
#card .body .qrcode span.top:before{content:'';width:10px;height:2px;background:#9f426f;position:absolute;top:0;left:0;}
#card .body .qrcode span.top:after{content:'';width:10px;height:2px;background:#9f426f;position:absolute;top:0;right:0;}
#card .body .qrcode span.bottom{width:100%;height:2px;position:absolute;bottom:0;left:0;}
#card .body .qrcode span.bottom:before{content:'';width:10px;height:2px;background:#9f426f;position:absolute;top:0;left:0;}
#card .body .qrcode span.bottom:after{content:'';width:10px;height:2px;background:#9f426f;position:absolute;top:0;right:0;}
#card .body .qrcode span.left{width:2px;height:100%;position:absolute;top:0;left:0;}
#card .body .qrcode span.left:before{content:'';height:10px;width:2px;background:#9f426f;position:absolute;top:0;left:0;}
#card .body .qrcode span.left:after{content:'';height:10px;width:2px;background:#9f426f;position:absolute;bottom:0;left:0;}
#card .body .qrcode span.right{width:2px;height:100%;position:absolute;top:0;right:0;}
#card .body .qrcode span.right:before{content:'';height:10px;width:2px;background:#9f426f;position:absolute;top:0;left:0;}
#card .body .qrcode span.right:after{content:'';height:10px;width:2px;background:#9f426f;position:absolute;bottom:0;left:0;}
/**************************** 直销咨询 ****************************/
#consult .head{background:#fff;box-shadow: 0 0 4px 2px rgba(0,0,0,0.2);}
#consult .head .bj{background: url("../image/consult.png")no-repeat;background-size:100%;}
#consult .box{position:relative;}
#consult .box h1{font-size:1.8rem; font-weight:normal;padding:3rem 0;color:#fff;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#consult .box .prode{padding:2rem 0 1rem}
#consult .box .prode>div{font-size:1.3rem;text-shadow: 0 0 4px rgba(0,0,0,0.2);}
#consult .box .prode>div.vip{padding-right:2rem;}
#consult .box .prode>div i{padding-right: 0.3rem;font-size:1.6rem;}
#consult .box .nav{width:100%;padding:0.5rem 0; }
#consult .box .nav i{width:3rem;height:3rem;border-radius:50%;color:#fff;font-size:2rem;}
#consult .box .nav em{height:2rem;font-size:1.2rem;}
#consult .cate ul{padding-top:0.2rem;}
#consult .cate li{position:relative;width:50%;padding-top:30%;}
#consult .cate div{position:absolute;top:4px;left:4px;right:4px;bottom:4px;border-radius:0.4rem;overflow:hidden;background:#fff;}
#consult .cate a{width:100%;height:100%;}







